.card{
    width: 60%;
    height: auto;
    background-color: transparent;
}
.mat-card{
    box-shadow: none;
}
.mat-grid-list {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mat-grid-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.mat-card-image{
    width: 90%;
    margin: auto;
}
.h3{
    font-weight: bolder;
}