<app-toolbar></app-toolbar>
<mat-grid-list [cols]='colSize' rowHeight="2:2">
    <mat-grid-tile *ngFor='let sensor of sensorsList'
    [colspan]='1'
    [rowspan]='1'>
    <mat-card class='card' (click)='clickedSensor(sensor.type, sensor.image, sensor.id)'>
        <img mat-card-image src ='../../../../assets/{{sensor.image}}.png'>
        <mat-card-content>
          <h3>
            {{ sensor.name }}
          </h3>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>
