.card{
    width: 60%;
    height: auto;
    background-color: transparent;
}
.mat-card{
    box-shadow: none;
}
.mat-grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mat-grid-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}