<mat-toolbar>
    <mat-icon routerLink='/'>home</mat-icon>
    <span class='spacer'></span>
    <mat-icon (click)='logout()'>exit_to_app</mat-icon>
</mat-toolbar>
<div class='container'>
    <img class='profile' src='../../../../assets/comedero-profile.png'>
    <mat-icon class='icon' (click)='info()'>subject</mat-icon><br>
    <form [formGroup]='formProfile'>
        <mat-form-field appearance='outline'>
            <mat-label>username</mat-label>
            <input matInput [readonly]='true' formControlName='username'/>
        </mat-form-field>
        <div class='name'>
            <mat-form-field appearance='outline'>
                <mat-label>Name</mat-label>
                <input matInput [readonly]='true' formControlName='name'/>
            </mat-form-field>
            <mat-form-field appearance='outline'>
                <mat-label>Lastname</mat-label>
                <input matInput [readonly]='true' formControlName='lastname'/>
            </mat-form-field>
        </div>
        <mat-form-field appearance='outline'>
            <mat-label>Email</mat-label>
            <input matInput [readonly]='true' formControlName='email'/>
        </mat-form-field>
    </form>
</div>
