<h4 align="justify">
    El proyecto tiene como objetivo realizar un comedero automatizado el cual pueda ser controlado desde cualquier lugar que se encuentre mientras se está conectado a la red. El proyecto tiene como finalidad que muchas de las veces nosotros como dueños de mascotas, no podemos llevarla a pasear a muchos lugares cuando vamos de viaje o nos ausentamos mucho tiempo, además de no poder confiar mucho en que las personas podrán cuidar de nuestra mascota, con la app podremos monitorear sus necesidades básicas y estar tranquilos de que estará bien.
</h4>
