.card{
    width: 60%;
    height: auto;
}
.container{
    width: 90%;
    height: auto;
    justify-content: center;
    margin: auto;
}
.mat-grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mat-grid-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}